.menu a.active,
nav a.active {
  background-color: black !important;
  color: white;
}

nav .nav-link {
  padding: 10px 20px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

nav .nav-link:hover {
  background: rgb(107, 107, 107);
  color: #fff;
}

nav .nav-link.active {
  background: #000;
  color: #fff;
}
